[submodule "chernoEngine/Hazel/Hazel/vendor/spdlog"]
	path = chernoEngine/Hazel/Hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "chernoEngine/Hazel/glfw"]
	path = chernoEngine/Hazel/glfw
	url = https://github.com/theCherno/glfw
[submodule "chernoEngine/Hazel/Hazel/vendor/GLFW"]
	path = chernoEngine/Hazel/Hazel/vendor/GLFW
	url = https://github.com/theCherno/glfw
